VITE_API_BASE_URL=http://localhost:8080/api/v1
VITE_SWAGGER_URL=http://localhost:8080/docs
VITE_APP_ENV=development
VITE_ENABLE_DEV_TOKEN=true
VITE_FIREBASE_API_KEY=REPLACE_WITH_FIREBASE_WEB_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=kbm-backend.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kbm-backend
VITE_FIREBASE_APP_ID=1:1098962710714:web:366ce29b18270063e1d283
